---
layout: default
title: Overview

banner-title: Discover Austria
banner-subtitle: Outdoor Escapes in the Austrian Alps



intro: >
  <p class="p--lead">Austria may be a typical winter idyll, but the scene changes dramatically when the snow melts. What’s revealed is an irresistible summer landscape perfect for active breaks. Jutting, verdant mountains offer a wealth of trails snaking from one quaint Alpine village to another. National Parks are awash with resplendent, ancient trees and hidden, enchanting waterfalls. When the sun starts to sink, pick from award-winning dining or rustic local fare and look out over sublime scenery. Austria in summer is a breathtaking scene with a landscape full of drama, sunshine and fortuitous escapes.  </p>



topics:

  - id: walks
    title: Hiking
    subtitle: Austria is one of Europe’s top walking destinations
    text: >
      <p>Sheer drops fall to crystalline lakes, only to rise again in a constant flurry of movement that paints a scene full of drama and mystery. Scaling any of these behemoths allows for unforgettable views, ending with respite in picture-postcard perfect Alpine villages. With six National Parks, around 60 protected nature reserves, and an endless supply of maintained trails to be found across the country, it’s time to put on your hiking boots and breathe in that fresh Alpine air…</p>

    pois:
      - title: Kitzsteinhorn Summit
        link: https://www.zellamsee-kaprun.com/en/activities/summer/hiking/guided-hiking-tours
        description: >
          <p>The clear blue waters of Lake Zell shimmer with reflections of the looming mountains that frame this stunning area.</p>
          <p>Walk from lakeside towns into the rolling green meadows, with the white peak of Kitzsteinhorn tempting adventurous hikers to its summit. At a height of over 3,000m, the views are just breathtaking, making Zell am See-Kaprun a must for intrepid adventurers. </p>
        details:
          - item: Zell am See-Kaprun
          - item: 3,203m high
          - item: Guided Tours

      - title: The Lechweg
        image-caption: Christoph Schöch / Lech Zürs Tourismus
        link: http://www.lechzuers.com/lechweg
        description: >
          <p>For those that like a long, uninterrupted hike, the Lechweg is the premiere long-distance hike with a 125km trail meandering through one of the last remaining wild river landscapes.</p>
          <p>Divided into 15 sections, you’ll discover the Alpine Ibex, waterfalls which disappear then magically return, the longest suspension footbridge in Austria, and the sublime waters of Lake Formarin.</p>
        details:
          - item: Lech Zürs am Arlberg
          - item: 125km
          - item: Good for all

      - title: Bregenzerwald Culinary Hikes
        image-caption: Adolf Bereuter / Bregenzerwald Tourismus
        link: http://www.bregenzerwald.at/s/en/culinary-hikes
        description: >
          <p>In the western corner of Austria, close to the borders of Germany and Switzerland, lies the Bregenzerwald in Vorarlberg. The scene is interspersed with wide plateaux and dotted with small, quaint villages.</p>
          <p>High peaks and river landscapes offer a range of hikes – be sure to make your stay a culinary hike, where you can try regional delicacies like Käsknöpfle to indulge your outdoor escape.</p>




  - id: biking
    title: Biking
    subtitle: Forget the biting cold of skiing and ditch the toboggan for summer cycling
    text: >
      <p>Regardless of ability, Austria’s trails are built for varying difficulties and chosen for their effortlessly beautiful surroundings. Whether it be a multi-day, self-guided cycling holiday, a tough mountain bike climb, or heading from the countryside into electric urban centres, Austria caters to all tastes. Don’t miss the famous Danube Cycle Path, renowned in Europe for its sheer length and irresistible riverside charms.  </p>

    pois:
      - title: Danube Cycle Path
        image-caption: Hochhauser  / WGD Donau Oberösterreich Tourismus GmbH
        link: http://www.austria.info/uk/austriantrails/danube
        description: >
          <p>This stunning, long-distance cycle route follows the winding Danube river through verdant valleys and fascinating towns and cities. </p>
          <p>From Passau to Bratislava, the Danube snakes through Upper and Lower Austria, past forested banks and the protected wine terraces and vineyards of the Wachau region. Alight at culturally-charged Linz, before heading to Austria’s magnificent capital, Vienna.</p>
        details:
          - item: Eight-day tour
          - item: Passau to Bratislava
          - item: 330km

      - title: Wüstlau Trail
        image-caption: Sebastian Doerk / Kitzsteinhorn
        link: https://www.zellamsee-kaprun.com/en/activities/summer/bike/freeridetrails
        description: >
          <p>For thrill seekers only, this challenging single-track course charges down the mountainside, dropping a total of 1,070m over nearly 8km of track. </p>
          <p>An adrenaline-fuelled rush, you’ll sweep round bends and around tricky hairpins, testing your concentration, skill and brakes. Set this within the sublime Alpine backdrop that the Zell am See-Kaprun area offers and you have the ingredients for a seriously intense experience. </p>
        details:
          - item: Zell am See-Kaprun
          - item: 7.7km

      - title: Loischkopf Tour
        image-caption: Michael Marte / Bikepark Brandnertal
        link: https://www.vorarlberg-alpenregion.at/en/brandnertal/summer/mountainbike/tours/
        description: >
          <p>If you want to tackle a range of terrain through Alpine woods, where the trail climbs and offers sublime views, Loischkopf tour is a top pick. </p>
          <p>Breathtaking panorama accompanies much of the route, offering views across the Walgau, the town of Bludenz and far into the Klostertal. Great for beginners, be sure to stop at a host of mountain chalets to try local delicacies.</p>
        details:
          - item: Beginner's trail
          - item: Start in Bürserberg
          - item: 22.4km




  - id: dining
    title: Dining
    subtitle: After a long day’s rambling, it’s time to kick-back in stunning surroundings and indulge in sumptuous local delicacies
    text: >
      <p>Locally-sourced produce is a given, with such rich pickings available in these verdant surroundings. Divine cakes and other sweet treats are an Alpine staple, whereas dinner sees classics like Wiener Schnitzel and Tafelspitz add to the stout offerings. For more refined dining, contemporary Austria boasts award-winning restaurants that turn wholesome local produce into superlative culinary experiences. Whatever your taste, Austria is set to indulge you with a rich medley of treats...</p>

    pois:
      - title: Trattlers Einkehr
        image-caption: Hotel Trattlerhof
        subtitle: Hotel Trattlerhof
        link: http://www.trattlerhof.at/en/trattlers-einkehr
        description: >
          <p>Tucked into the lull of an effortlessly picturesque valley, Trattlers Einkehr embodies traditional chalet-restaurant charms. </p>
          <p>With a gentle stream running past, kick-back in sublime scenery whilst indulging in typical Alpine fare. Expect regional delicacies, Carinthian specialities and hearty classics like veal steaks and Reindling cake. </p>
        details:
          - item: Hotel Trattlerhof

      - title: Das Kleine Restaurant
        image-caption: Gartenhotel Theresia ****Superior
        subtitle: Gartenhotel Theresia ****Superior
        link: https://www.hotel-theresia.com/en/cuisine/Das-Kleine-Restaurant
        description: >
          <p>For a taste of contemporary Austria, alight at the award-winning Das Kleine Restaurant. </p>
          <p>Two Toques by Gault Millau and four stars from A La Carte are not easy to come by, a testament to the skill and creativity of head chef Robert Trobsch. Try the summer tasting menu and revel in forward-thinking dining, set in typically beautiful Alpine surroundings.</p>
        details:
          - item: Gartenhotel Theresia ****Superior

      - title: Konditorei Jindrak
        image-caption: Wolfgang Schardt / Österreich Werbung
        link: http://www.linztourismus.at/discover-linz/top10/linzer-torte/
        description: >
          <p>Since 1929, Konditorei Jindrak has been delighting Austrians with its staple sweet treats. </p>
          <p>Many locals will tell you that they have perfected the national favourite, the Linzer Torte. One of the world’s oldest cakes, it’s found across Austria in homes, cafes and bakeries. It’s practically sacrilege not to try it when visiting, so head for you nearest Jindrak and indulge in this iconic treat.</p>



offers-title: Where to stay
offers-subtitle: >
  Outdoor pools, spas, fine dining and lodges nestled in thick woods, these top Austrian picks from our partner offer superlative luxury for your stay
offers-text:


---



{% include page/banner.html %}
{% include page/intro.html %}
{% include page/topics.html %}
{% include page/offers.html %}
{% include page/offer-banner.html %}

